
ENVIRONMENT=production
ROOT_PATH=/api
DATA_DIR=data/sessions

COOKIE_DOMAIN=ailumyn.com.br   
COOKIE_SECURE=true 
COOKIE_SAMESITE=Lax   
COOKIE_PATH=/api

JWT_SECRET=
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

DATABASE_URL=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""
OPENAI_API_KEY=
XAI_API_KEY=
XAI_MODEL=
SYSTEM_PROMPT=
